<mat-card>
  <input [value]="text"/>
  <input [(ngModel)]="text"/>
  <mat-card-title>
    Samoloty:
  </mat-card-title>
  <button (click)="getPlanes()">Download planes</button>
  <mat-card *ngFor="let plane of planes" class="item">
    {{plane.name}}
    <button mat-button (click)="showObj(plane)">Show</button>
  </mat-card>
  <mat-card>
    Add new
  </mat-card>
</mat-card>
